//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: rgb(233, 84, 32);
    --tiki-top-color: #fff;
    --tiki-top-hover-color: rgba(255, 255, 255, 0.75);
    --tiki-top-text-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgb(233, 84, 32);
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-text-color: rgba(255, 255, 255, 0.75);
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgb(119, 41, 93);
    --tiki-top-color: rgba(255, 255, 255, 0.55);
    --tiki-top-hover-color: #fff;
    --tiki-top-text-color: #fff;
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #672250; // rgb(119, 41, 93); Darkened for visual interest
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-text-color: #fff;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
//    --tiki-admin-navbar-bg: ; //
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-hover-color: rgba(255, 255, 255, 0.75);
    --tiki-admin-top-nav-hover-bg: none;
    --tiki-admin-aside-nav-bg: rgb(233, 84, 32) !important; // Why is this !important sometimes necessary?
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    .accordion-item.search-preferences,
    button.was-nav-link.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
    .accordion-button::after {
        background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f29879'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: rgb(233, 84, 32);
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.55);
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: rgb(119, 41, 93);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-item.search-preferences,
    button.was-nav-link.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
    .accordion-button::after {
        background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f29879'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgb(119, 41, 93);
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // light values
    }
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //
