// Morph 5.2.0 -- This is a copy of node_modules/bootswatch/dist/morph/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

$theme: "morph" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f0f5fa !default;
$gray-200: #d9e3f1 !default;
$gray-300: #dee2e6 !default;
$gray-400: #bed1e6 !default;
$gray-500: #adb5bd !default;
$gray-600: #7f8a99 !default;
$gray-700: #506925; //#7b8ab8 !default;
$gray-800: #444b40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #378dfc !default;
$indigo:  #6610f2 !default;
$purple:  #5b62f4 !default;
$pink:    #d63384 !default;
$red:     #e52527 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #43cc29 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$primary:       $blue !default;
$secondary:     $gray-200 !default;
$success:       $green !default;
$info:          $purple !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;

// Options
// Prefix for :root CSS variables

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;


// Body

$body-bg:                   $gray-200 !default;
$body-color:                #506295;

// Typography
$link-shade-percentage:                   20% !default; // Bootstrap 5.3

// Components
// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      system-ui, sans-serif; // Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


$text-muted:                  var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- lighten($body-color, 15%) !default;

// Buttons + Forms

// Buttons

// Forms

$input-bg:                              var(--#{$prefix}body-bg) !default; // $gray-100 !default;
$input-placeholder-color:               var(--#{$prefix}secondary-color) !default; // $text-muted !default;

$form-select-indicator-color:       var(--#{$prefix}body-color);
$form-range-track-bg:             var(--#{$prefix}tertiary-bg) !default; // rgba(darken($body-bg, 50%), .15) !default;
$form-range-thumb-disabled-bg:             var(--#{$prefix}secondary-color) !default; // $gray-200 !default;
$form-file-button-bg:             var(--#{$prefix}tertiary-bg) !default; // $gray-100 !default;

// Navs

$nav-link-color:                    var(--#{$prefix}body-color);
$nav-link-disabled-color:           var(--#{$prefix}secondary-color) !default; // $text-muted !default;

// Navbar

$navbar-light-color:                var(--#{$prefix}body-color);

// Dropdowns

$dropdown-color:                    var(--#{$prefix}body-color);
$dropdown-bg:                       $white !default;
$dropdown-border-color:             var(--#{$prefix}border-color-translucent) !default;

$dropdown-link-color:               $gray-900 !default;
$dropdown-link-hover-color:         shade-color($dropdown-link-color, 10%) !default;
$dropdown-link-hover-bg:            $gray-200 !default;

$dropdown-dark-color:               $gray-300 !default;
$dropdown-dark-bg:                  $gray-800 !default;

$dropdown-dark-link-color:          $dropdown-dark-color !default;
$dropdown-dark-link-hover-color:    $white !default;
$dropdown-dark-link-hover-bg:       rgba($white, .15) !default;

// Pagination

$pagination-bg:                     var(--#{$prefix}body-bg);

// Cards

$card-bg:                           lighten($body-bg, 3%) !default;

// Bootswatch overrides

$web-font-path: none; // Override value in vendor file

// Tooltips

$tooltip-color:                     var(--#{$prefix}body-color);

// Popovers

$popover-bg:                        $dropdown-bg !default;

// Toasts

$toast-background-color:            $dropdown-bg !default;
$toast-header-color:                var(--#{$prefix}body-color);

// Badges

// Modals

$modal-content-bg:                  $dropdown-bg !default;

// Progress bars

// List groups

$list-group-bg:                     $card-bg !default;

// Breadcrumbs

// Close

// Code
$code-color:                       $body-color; //  $pink !default; // Bootstrap 5.3

//--------------------------- Tiki SCSS variables
