/*
    This Tiki Wiki CMS Groupware file contains global design
    and layout properties. */
@import "../../../node_modules/bootstrap/scss/functions";

@import "../../default/scss/_variables.scss";

// @import "../../../node_modules/bootstrap/scss/_variables.scss"; Already imported by vendor bootstrap.scss

// Load bootstrap4c-chosen variables and svn to uri converter
@import "../../../vendor_bundled/vendor/npm-asset/sass-svg-uri/_svg-uri.scss";


//@import "_bs3-bs4-transition.scss"; obsolete
//@import "../scss/_tiki-variables.scss";
//@import "../scss/_tiki-selectors.scss";
@import "../scss/_tiki-miscellaneous_global";
@import "../scss/_tiki-modules";
@import "../scss/_tiki-toolbars";
@import "../scss/_tiki-boxes_and_cards";
@import "../scss/_tiki-tabs_and_tables";

@import "../scss/_tiki-articles";
@import "../scss/_tiki-blogs";
@import "../scss/_tiki-forums";
@import "../scss/_tiki-comments";
@import "../scss/_tiki-file_galleries";
@import "../scss/_tiki-trackers";
@import "../scss/_tiki-categories";
@import "../scss/_tiki-search";
@import "../scss/_tiki-sheets";
@import "../scss/_tiki-calendar";
@import "../scss/_tiki-translation";
@import "../scss/_tiki-tags";
@import "../scss/_tiki-minor_features";
@import "../scss/_tiki-mytiki";
@import "../scss/_tiki-admin";
@import "../scss/_tiki-modal_and_managestream";
@import "../scss/_tiki-maps";
@import "../scss/_tiki-external_scripts_overrides.scss";
@import "../scss/_tiki-bootstrap_overrides.scss";
@import "../scss/_tablesorter-tiki.scss";
@import "../scss/_tablesorter-custom.scss";
@import "../scss/_tiki-media-print";
@import "../scss/_tiki-wikipages_and_plugins";
@import "../scss/_tiki-multilike";
@import "../scss/_tiki-installer.scss";
@import "../scss/_tiki-oauthserver.scss";
@import "../scss/_tiki-menus.scss";
@import "../scss/_tiki-debugger_console.scss";
//@import "../scss/_pivot-tiki.scss";
//@import "../scss/_conversejs-tiki.scss";
//@import "../scss/_tiki-selectors.scss";

// Sticky tables
.tiki .table-sticky {
    overflow: visible !important;
}
.tiki .table-sticky thead {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
    z-index: 2;
}
.tiki .table-sticky tbody th {
    position: sticky;
    position: -webkit-sticky;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    left: 0px;
    z-index: 1;
}
// Icon to toggle table formatting
.toggle-table-wrap .btn {
  font-family: 'Font Awesome 6 Free' !important;
}

.tiki .select2-container--bootstrap-5 .select2-selection--single {
    padding: 0.375rem 2.75rem 0.375rem 0.75rem;
}

//Cypth select2
.form-floating {
    .select2-container--bootstrap-5 {
        width: 100% !important;
        .select2-selection {
            min-height: calc($form-floating-height + .3rem) !important;
            padding: $form-floating-padding-y $form-floating-padding-x !important;
            width: 100% !important;
            > .select2-selection__rendered {
                margin-top: .4rem !important;
            }
        }
        .floating-select-label { z-index: 1000; }
    }
    .form-select {
        width: 100% !important;
    }
}
/* End of file */
