// Cosmo 5.3.3 -- This overrides and adds to node_modules/bootswatch/dist/cosmo/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #124987; // #2780e3 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #E60032; // #ff0039 Updated for Tiki to meet WCAG color contrast guidelines
$orange:  #f0ad4e !default;
$yellow:  #C75000; // #ff7518 Updated for Tiki to meet WCAG color contrast guidelines
$green:   #2F8712; // #3fb618 Updated for Tiki to meet WCAG color contrast guidelines
$teal:    #20c997 !default;
$cyan:    #9954bb !default;

$primary:       #207CA7; // $blue !default;
$secondary:     $gray-800 !default;
$success:       #558000; // $green !default;
$info:          $cyan !default;
$warning:       #B35F00; // $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$green-300: tint-color($green, 40%) !default; // Bootstrap 53
$red-300: tint-color($red, 40%) !default; // Bootstrap 53

// Options
$prefix: bs-;

// Body

// Links
$link-color: #2DA1D7;
$link-shade-percentage:                   20% !default; // Bootstrap 5.3

// Components
$border-color: $gray-400;

// Typography

$font-family-sans-serif:        Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
$font-size-base:                1.1rem;


$text-muted:                  var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 --$gray-800; // Updated for Tiki (all of the following were changed from $gray-600)
$blockquote-footer-color:     var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 --$gray-800; // Updated for Tiki
$figure-caption-color:        var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 --$gray-800; // Updated for Tiki
$breadcrumb-divider-color:    var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 --$gray-800; // Updated for Tiki
$breadcrumb-active-color:     var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- $gray-800; // Updated for Tiki
$list-group-disabled-color:   var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- $gray-800; // Updated for Tiki
$nav-link-disabled-color:     var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- $gray-800; // Updated for Tiki
$pagination-disabled-color:   var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- $gray-800; // Updated for Tiki

// Form validation
$form-valid-color: #70A800;
$form-invalid-color: #F50000;

// Navbar


// Accordion (added for TIki)
$accordion-button-active-bg:             $blue;
$accordion-button-active-color:          #fff;

// Alerts

// Progress bars

// Code
$code-color:                        #adafea; // $body-color; // $pink !default; // Bootstrap 5.3

//--------------------------- Tiki SCSS variables

// Bootswatch overrides

$web-font-path: none; // Override value in vendor file